<h1>YOUR FRIGGIN' SHOPPING CART:</h1>

<div class="row">

  <% @carted_products.each do |carted_product| %>

  <div class="col-md-4">
    <div class="well">
      <h2>Product: <%= carted_product.product.name %> (<%= carted_product.quantity %>)</h2>
      <%= link_to "Remove this shit!", "/carted_products/#{carted_product.id}", method: :delete %>
      <img src="<%= carted_product.product.images.first.image %>" alt="">
    </div>
  </div>
  <% end %>

</div>

<%= form_tag '/orders', method: :post do %>
  <button type="submit" class="btn btn-default">Complete Purchase</button>
<% end %>





