<h1>Add a new product</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>
  <div>
    <%= label_tag :material %>
    <%= text_field_tag :material, @product.material %>
  </div>
  <div>
    <%= submit_tag "Edit Product" %>
  </div>

<%= link_to "Back to all products", "/products" %>

<% end %>