<div class="product-show">
  <h1>Item</h1>
  <h3>Name: <%= @product.name %></h3>
  <h4>Category: <%= @product.printable_category_names %></h4>
  <h3>Price: <%= number_to_currency (@product.price) %> </h3>
  <h4>Sales Tax: <%= number_to_currency (@product.sales_tax) %></h4>
  <h3>Total Price: <%= number_to_currency (@product.total) %></h3>
  <h3><%= @product.sale_message%></h3>
  <% @product.images.each do |image|%>
  <img src="<%= image.image %>">
  <% end %>

  <h2>To purchase:</h2>
  <%= form_tag '/carted_products', method: :post do %>
    <div class="Form-Group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= hidden_field_tag :status, "In Cart" %>
      <button type="submit" class="btn btn-default">Add To Cart</button>
    </div>
  <% end %>

  <a href="/products">Back to all products</a>

<%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
<%= link_to "Delete this shit", "/products/#{@product.id}", method: :delete %>
</div>

