<div class="product-show">
  <h1>Item</h1>
  <p>Name: <%= @product.name %></p>
  <p>Price: <%= number_to_currency (@product.price) %> </p>
  <p>Sales Tax: <%= number_to_currency (@product.sales_tax) %></p>
  <p>Total Price: <%= number_to_currency (@product.total) %></p>
  <p><%= @product.sale_message%></p>
  <% @product.images.each do |image|%>
  <img src="<%= image.image %>">
  <% end %>

  <h2>To purchase:</h2>
  <%= form_tag '/orders', method: :post do %>
    <div class="Form-Group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
      <%= hidden_field_tag :product_id, @product.id %>
      <button type="submit" class="btn btn-default">Buy</button>
    </div>
  <% end %>

  <a href="/products">Back to all products</a>

<%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
<%= link_to "Delete this shit", "/products/#{@product.id}", method: :delete %>
</div>

